# This is a basic workflow to help you get started with Actions, modified by Charles Crary 10 December 2023.

name: build-module
run-name: ${{ github.actor }} triggered a build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    name: Build
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
      - name: Check out module
        uses: actions/checkout@v4

      - name: Install ModuleBUilder
        shell: pwsh
        run: Import-Module -Name ModuleBuilder

      - name: Build module
        shell: pwsh
        run: Build-Module -SourcePath .
